---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import { challenges } from "../challenges";
---

<Layout title="Welcome to Astro.">
  <main class="min-h-5/6 m-auto max-w-xl p-6">
    <h1 class="text-center text-3xl font-bold">
      Hi! Welcome to <span class="text-gradient">Frontend Challenges</span>
    </h1>
    <p class="my-5 rounded-md border border-fuchsia-500 bg-fuchsia-50 p-5">
      I'm working on the frontend challenges from <a
        href="https://www.frontendmentor.io/"
        class="text-blue-500"
        target="_blank">frontendmentor.io</a
      > to improve my skills. I'm using <a
        href="https://astro.build/"
        class="text-fuchsia-500"
        target="_blank">Astro's</a
      > islands to build the components with different technologies.
    </p>
    <ul role="list" class="link-card">
      {
        challenges.map((challenge) => (
          <Card
            id={challenge.id}
            href={challenge.href}
            title={challenge.title}
            body={challenge.body}
            status={challenge.status}
            tags={challenge.tags}
            sitelink={challenge.sitelink}
          />
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
